<!DOCTYPE html>
<html>
<head>
    <title>NOVELTY</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <!--jQuery(necessary for Bootstrap's JavaScript plugins)-->
    <script src="~/Scripts/js/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/js/jquery-ui.js"></script>
    <!--Custom-Theme-files-->
    <!--theme-style-->
    <link href="~/Content/css/stylee.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--start-menu-->
    <script src="~/Scripts/js/simpleCart.min.js"></script>
    <link href="~/Content/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Scripts/js/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <!--dropdown-->
    <script src="~/Scripts/js/jquery.easydropdown.js"></script>
    <link href="~/Content/Custom.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom CSS for cursor effect -->
    <link href="~/Content/StyleCursor.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!--top-header-->
    <div class="top-header" style="background-color:#2D99AE">
        <div class="container">
            <div class="top-header-main">
                <div class="col-md-6 top-header-left">
                    <div class="drop">

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-4 userMenu">
                    @{ Html.RenderAction("UserMenu", "Account"); }
                </div>
                <div class="col-md-2 top-header-left">
                    @{ Html.RenderAction("CartMenu", "Cart"); }
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--top-header-->
    <!--bottom-header-->
    <div class="header-bottom" style="background-color:#0C5776">
        <div class="container-fluid">
            <div class="header">
                <div class="col-md-3 logo">
                    <a href="~/Home/index"><h1>NOVELTY</h1></a>
                </div>
                <div class="col-md-7 header-left">
                    <div class="top-nav">
                        <ul class="memenu skyblue">
                            <li class=""><a href="~/Home/index">Trang chủ</a></li>
                            <li class="grid">
                                <a href="~/san-pham/tat-ca">Sản phẩm</a>
                            </li>
                            <li class="grid">
                                <a href="~/OrderHistory/OrderHistory">Lịch sử đơn hàng</a>
                            </li>
                            <li class="grid">
                                <a href="~/Home/Contact">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-2 header-right">
                    <div class="search-bar">
                        <form action="/tim-kiem" method="get">
                            <input type="text" value="Tìm kiếm..." name="keyword" id="txtkeyword" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                            <input type="submit" value="" class="glyphicon-search">
                        </form>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <!--information-starts-->
    <div style="background-color: #0C5776; color: aliceblue; padding-top: 10px;">
        <div class="information">
            <div class="container">
                <div class="">
                    <div class="footer-section logo-section">
                        <div class="col-md-3 infor-left">
                            <img src="~/images/logo1.png" alt="Novelty Logo" class="logo1">
                            <p class="verification">ĐÃ THÔNG BÁO BỘ CÔNG THƯƠNG</p>
                        </div>
                    </div>
                    <div class="col-md-3 infor-left">
                        <div class="footer-section about-section">
                            <h2>GIỚI THIỆU</h2>
                            <p>Nhà sách Novelty là điểm đến lý tưởng dành cho những ai đam mê sách và văn hóa đọc. Novelty mang đến một trải nghiệm mua sắm sách hoàn toàn mới lạ và thú vị. Chúng tôi tự hào sở hữu một kho sách phong phú, đa dạng về thể loại, từ văn học, khoa học, nghệ thuật đến sách thiếu nhi và sách ngoại văn.</p>
                        </div>
                    </div>
                    <div class="col-md-3 infor-left">
                        <div class="footer-section support-section">
                            <h2>HỖ TRỢ</h2>
                            <ul>
                                <li>Giới thiệu về Novelty</li>
                                <li>Chính sách bảo mật</li>
                                <li>Chính sách đổi trả</li>
                                <li>Chính sách vận chuyển</li>
                                <li>Chính sách quy định</li>
                                <li>Hướng dẫn đặt hàng</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 infor-left">
                        <div class="footer-section contact-section">
                            <h2>THÔNG TIN LIÊN LẠC</h2>
                            <p>Địa chỉ: 828 đường Sư Vạn Hạnh, Phường 13, Quận 10, Thành phố Hồ Chí Minh</p>
                            <p>Điện thoại: 0932152301</p>
                            <p>Email: thiennguyen14062004@gmail.com</p>
                            <div class="social-media">
                                <a href="#"><img src="~/images/facebook.png" alt="Facebook" style="width:43px;height:43px"></a>
                                <a href="#"><img src="~/images/instagram.png" alt="Instagram" style="width:43px;height:43px"></a>
                                <a href="#"><img src="~/images/youtube.png" alt="YouTube" style="width:43px;height:43px"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--information-end-->
        <!--footer-starts-->
        <div class="footer">
            <div class="container">
                <div class="footer-top">
                    <div class="col-md-6 footer-left">

                    </div>
                    <div class="col-md-6 footer-right">
                        <p style="color:aliceblue; right:0;">© 2024 Book Store. Design by  <a href="http://w3layouts.com/" target="_blank" style="color:aliceblue;">web</a> </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!--footer-end-->
    <div class="cursor">
        <!-- Các vòng tròn con trỏ -->
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>

    <script src="~/Scripts/Script.js"></script>
    <script src="~/Scripts/js/baseController.js"></script>
</body>
</html>

<style>
    .logo1 {
        width: 200px; 
        height: 170px;
    }
</style>